@media (max-width: 1305px) {
  .trendy {
    width: 29rem;
  }
  .vector {
    position: absolute;
    z-index: 2;
    &.vec1 {
      top: 15rem;
      right: 29rem;
      width: 4rem;
    }
    &.vec2 {
      top: 4rem;
      right: 6rem;
      width: 5.5rem;
    }
  }
  .second {
    .newArrivals,
    .bestSelling {
      .products .product__img {
        width: 15rem;
      }
    }
  }
}
@media (max-width: 1225px) {
  .left {
    padding: 2rem 0 0 6rem;
    h2 {
      max-width: 500px;
      font-size: 50px;
      font-family: "integral", sans-serif;
    }
    .desc {
      max-width: 400px;
      color: #616060;
      font-family: "satoshi", serif;
    }
    .shopNow {
      padding: 1rem 3.5rem;
    }
    .numbers {
      .num__1,
      .num__2,
      .num__3 {
        padding: 0 0rem;
        .top {
          font-size: 1.5rem;
          font-weight: 600;
          color: black;
        }
        .bot {
          font-size: 0.9rem;
          color: #616060;
        }
      }
      .dividerNumbers {
        width: 1px;
        height: 3rem;
        margin: 0 1rem;
        background-color: #00000033;
      }
    }
  }
  .second {
    .newArrivals,
    .bestSelling {
      .products .product__img {
        width: 13rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  .hamburger {
    display: block;
  }
  .navbar__links {
    display: none;
  }
  .trendy {
    width: 25rem;
    /* border: 1px solid red; */
  }
  .vector {
    position: absolute;
    z-index: 2;
    &.vec1 {
      top: 11rem;
      right: 25rem;
      width: 4rem;
    }
    &.vec2 {
      top: 4rem;
      right: 6rem;
      width: 5rem;
    }
  }
}
@media (max-width: 1030px) {
  .left {
    padding: 2rem 0 0 6rem;
    h2 {
      max-width: 400px;
      font-size: 38px;
      font-family: "integral", sans-serif;
    }
    .desc {
      max-width: 350px;
      color: #616060;
      font-family: "satoshi", serif;
    }
    .shopNow {
      padding: 1rem 3.5rem;
    }
    .numbers {
      max-width: 400px;
      .num__1,
      .num__2,
      .num__3 {
        /* flex: 1 1 33%; */
        /* padding: 0 0rem; */
        .top {
          font-size: 1.2rem;
          font-weight: 600;
          color: black;
        }
        .bot {
          font-size: 0.5rem;
          color: #616060;
        }
      }
      .dividerNumbers {
        width: 1px;
        height: 3rem;
        margin: 0 1rem;
        background-color: #00000033;
      }
    }
  }
}
@media (max-width: 1072px) {
  .products .product__img {
    width: 17rem !important;
  }
}
@media (max-width: 990px) {
  .homPic {
    .left {
      h2 {
        max-width: 800px;
        width: 800px;
        z-index: 3;
      }
      .desc {
        max-width: 350px;
      }
    }
  }
  .trendy {
    top: 6rem;
  }
  .vector {
    position: absolute;
    z-index: 2;
    &.vec1 {
      top: 16rem;
      right: 25rem;
      width: 4rem;
    }
    &.vec2 {
      top: 7rem;
      right: 6rem;
      width: 5rem;
    }
  }
}
@media (max-width: 940px) {
  .homPic {
    .left {
      h2 {
        font-size: 30px;
        max-width: 800px;
        width: 800px;
        z-index: 3;
      }
      .desc {
        margin-top: 1rem;
        max-width: 300px;
      }
    }
  }
  .trendy {
    top: 5rem;
  }
  .vector {
    position: absolute;
    z-index: 2;
    &.vec1 {
      top: 15.5rem;
      right: 25rem;
      width: 4rem;
    }
    &.vec2 {
      top: 6rem;
      right: 6rem;
      width: 5rem;
    }
  }
  .products {
    grid-template: 100% / repeat(2, 1fr);
  }
}
@media (max-width: 390px) {
  .homPic {
    flex-direction: column;
    .left {
      padding: 0;
      h2 {
        font-size: 36px;
        max-width: 800px;
        width: 800px;
        z-index: 3;
      }
      .desc {
        margin-top: 1rem;
        max-width: 300px;
      }
    }
  }
  .trendy {
    position: inherit;
    top: 5rem;
  }
  .vector {
    position: absolute;
    z-index: 2;
    &.vec1 {
      top: 15.5rem;
      right: 25rem;
      width: 4rem;
    }
    &.vec2 {
      top: 6rem;
      right: 6rem;
      width: 5rem;
    }
  }
  .products {
    grid-template: 100% / repeat(2, 1fr);
  }
}
