.sP__categories {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.sP__category {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f0eeed;
}
.sP__category__imgCont {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  img {
    transform: translateY(0.5rem);
  }
}
.spCategory__name {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translateY(4rem);
}
