.sF__sizes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  .sF__size {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    // margin: 0.4rem;
    border-radius: 3rem;
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.15s ease-in;
    &:hover,
    &:active {
      background-color: black;
      color: white;
      transition: all 0.15s ease-in;
    }
  }
}
.sF__size.active {
  background-color: black;
  color: white;
}
